# Java
.gradle/
build/
backend/build/
frontend/dist/

target/
*.class
*.jar
*.war

# Maven
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.iml

board-app/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker
*.log
